<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Patiënt-Afspraak</title>
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body class="home-container">
<header th:replace="fragments/header.html :: header"></header>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
             th:src="@{https://www.ikea.com/images/appointment-icon-e481f56b916051c33b71332f0bb75405.jpg?f=s}"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"
                th:text="${event.patient.user.firstName} + ' ' + ${event.patient.user.lastName}"></h5>
            <p class="card-text"
               th:text="'Je afspraak is geboekt op ' + ${event.date.getDayOfMonth()}+'/'+${event.date.getMonth().getValue()} + ' om ' + ${event.startTime} + '.'"></p>
            <p class="card-text" th:text="'Je afspraak is met Dr. ' + ${event.calendar.doctor.user.lastName} + '.'"></p>
            <p class="card-text" th:text="'Adres : ' + ${event.calendar.doctor.user.address.street} + ' '
                                             + ${event.calendar.doctor.user.address.houseNumber} + ' - '
                                             + ${event.calendar.doctor.user.address.zipcode} + ' '
                                              + ${event.calendar.doctor.user.address.city}"></p>
            <!--    a works with only GET, but we need to make a POST request so I created form for our 'Annueleer' button-->
            <!--    <a th:href="@{/patient/calendar/{doctorId}/cancel-appointment/{eventId}(doctorId=${event.calendar.doctor.id}, eventId=${event.id})}" class="btn btn-primary">Annuleer</a>-->

            <form action="#"
                  th:action="@{/patient/calendar/{doctorId}/cancel-appointment/{eventId}(doctorId=${event.calendar.doctor.id}, eventId=${event.id})}"
                  method="POST">
                <button name="action" class="btn btn-lg btn-info btn-block" id="" value="cancel" type="submit">
                    Annuleer
                </button>
            </form>

        </div>
    </div>
</div>


<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
