<!DOCTYPE html>
<html xmlns:th="www.tymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
  <meta charset="utf-8">
  <title>Afspraak toevoegen</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header th:replace="fragments/header.html :: header"></header>
  </div>
</nav>
<div class="container w-50 ">

  <br><br><br> <form action="#" th:action="@{/doctor/calendar/event/new}" th:object="${event}" method="post">
  <h2 class="form-signin-heading text-center">Voeg een afspraak toe</h2><br>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" th:classappend="${#fields.hasErrors('*')} ? 'has-error' : ''">
        <input name="name" type="text" th:field="*{title}" class="form-control" placeholder="Omschrijving" autofocus="true" required/><br>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
      </div>

<!--      <textarea name="description" th:field="*{description}" placeholder="Description..." class="form-control" rows="5"></textarea>-->
    </div>
    <div class="col-sm-6">
      <div class="form-group input-group">
        <label for="statusSelection">Status :</label>
        <select class="form-group ml-1" id="statusSelection" th:field="*{status}" name="status">
          <option th:each="s : ${T(be.multimedi.latte.dbno.model.Status).values()}" th:value="${s}" th:text="${s}" selected>Status</option>
        </select>
      </div>
    </div>
  </div>
  <br><div class="row">
  <div class="col-sm-5" th:classappend="${#fields.hasErrors('*')} ? 'has-error' : ''">Datum: <input id="datePicker" type="date"  th:field="*{date}" />
    <p class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p></div>
  <div class="col-sm-3">Start Tijd: <input id="timePicker" type="time"  th:field="*{startTime}" /></div>
<!--  <div class="col-sm-3">Einde Tijd: <input id="timePickerEnd" type="time"  th:field="*{endTime}" /></div>-->
</div>
  <br> <button class="btn btn-lg btn-primary btn-block" type="submit">Voeg toe</button><br>
</form>
</div>

<script>
  document.getElementById('datePicker').valueAsDate = new Date();
  document.getElementById("timePicker").defaultValue = "12:00";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
