<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/custom.html :: head-custom-calendar"></th:block>
    <title>Agenda</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<br>
<div class="ui container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 style="color:#007bff" th:inline="text" th:text="'Kalender van ' + ${calendarName}">
                </h2>
            </div>

            <div class="dropdown col-md-2">
              <form th:if="${#authentication.name == doctor.user.email}" th:action="@{'/doctor/' + ${doctor.id} + '/calendar'}">

                <select
                        class="form-control filter form-control-lg bg-info"
                        name="status"
                        id="status"

                        onchange="this.form.submit()"
                >
                  <!--            onchange="this.form.submit()" : I use it because it is not a good option to use a button, Whenever there are changes they will be submitted-->
                  <option value="">Afspraken</option>
                  <option value="ALL">Alle afspraken</option>
                  <option value="AVAILABLE">Beschikbare afspraken</option>
                  <option value="UNAVAILABLE">Geboekte afspraken</option>
                </select>
                <!--          ******-->
              </form>
            </div>
            <div class="col-md-2">
              <a th:href="@{/doctor/calendar/event/new}">
                <button th:if="${#authentication.name == doctor.user.email}" class="btn btn-info">Afspraak
                  toevoegen
                </button>
              </a>
            </div>

          <div th:if="${#authentication.name != doctor.user.email}" class="col-md-2">
            <a th:href="@{/patient/appointment/all}">
              <button class="btn btn-info btn-lg mt-2">Mijn afspraken
              </button>
            </a>
          </div>
        </div>
    </div>
    <br>
    <div class="ui grid">
        <div class="ui sixteen column">
            <div id="calendar"></div>
        </div>
    </div>
</div>


<input type="hidden" id="events" th:value="${allEvents}"/>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content w-50">
        <span class="close">&times;</span>
        <form  th:action="@{/doctor/{doctorId}/calendar(doctorId=${doctor.id})}" th:object="${event}" method="post">
            Title:
            <span id="evTitle"></span>
            <input name="name" type="hidden" id="newevTitle" th:field="*{title}"/>
            <br>
            Date:
            <span id="evDate"></span>
            <input name="oldDate" type="hidden" id="oldDateSbm" th:value="${oldDate}"/>
            <input name="startDate" id="newevDate" type="hidden" th:field="*{date}"/>
            <input name="startTime" id="startevTime" type="hidden" th:field="*{startTime}"/>
            <!--      <span id="evEndDate"></span>-->
            <!--      <input name="oldDate" type="hidden" id="oldEndDateSbm" th:value="${oldEndDate}"/>-->
            <!--      <input name="startDate" id="newevEndDate" type="hidden"  th:field="*{date}" />-->
            <!--      <input name ="endTime" id="endevTime" type="hidden" th:field="*{endTime}" />-->
            <br>
            <hr>

            <!--      <button name="action" class="btn btn-lg btn-success btn-block" id="savebtn" style="visibility:hidden" type="submit" value="edit">Opslaan</button>-->
            <button th:if="${#authentication.name == doctor.user.email}" name="action"
                    class="btn btn-lg btn-danger btn-block" id="deletebtn" type="submit" value="delete">Verwijderen
            </button>
            <button th:if="${#authentication.name != doctor.user.email}" name="action"
                    th:formaction="${doctor.id}"
                    class="btn btn-lg btn-success btn-block" id="editbtn" type="submit" value="edit">Bevestigen
            </button>
        </form>
    </div>
</div>


<th:block th:include="fragments/cdn.html :: script-cdn-calendar"></th:block>
</body>
</html>
