<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{'/'}"> <img th:src="@{/img/healthcare.png}" width="35" height="35"
                                               class="d-inline-block align-top" alt="">
            DBNO
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/about'}">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Registreren
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/patient/register'}" href="#">Patiënt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/doctor/register'}" href="#">Dokter</a>
                    </div>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item mr-2">
                    <a class="nav-link btn btn-primary text-white" th:href="@{'/login'}" href="#">Inloggen</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown ">
                    <a th:text="'Signed in as ' + ${#authentication.name}" class="nav-link dropdown-toggle" href="#"
                       id="loggedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="loggedDropdown">
                        <a class="text-white text-center dropdown-item"
                           th:href="@{'/my-profile'}" href="#">Mijn profiel</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                            <form method="post" th:action="@{/logout}">
                                <button class="text-white dropdown-item" type="submit">Uitloggen</button>
                            </form>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </nav>
</header>
</html>
