body {
    background: rgb(182,212,182);
    background: linear-gradient(99deg, rgba(182,212,182,1) 0%, rgba(143,188,143,1) 27%, rgba(137,182,137,1) 83%, rgba(110,151,110,1) 100%);
}

.home-container {
    background-image: url("../img/clinic-home-page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*OFFICE_FORM_CSS*/

.office-form-body {
    color: #786fa4;
    overflow-x: hidden;
    font-size: 14px;
}

.office-form-container {
    height: 100vh !important;
}

.office-form-card {
    margin: 0 auto;
    max-width: 700px;
    border: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

}

@media only screen and (max-width: 767px) {
    .office-form-body{
        padding-top: 20px;
    }
    .office-form-card{
        width: 100%;
    }
}

.office-form-card-header {
    color: #fff !important;
    background-color: #007bff !important;
}

.office-form-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.office-form-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.office-form-card-header.display-4 {
    font-weight: bold;
}

label {
    font-weight: bold;
}
.input-error{
    color: #e03c23;
}

.btn-warning{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.welcome-text{
    background-color: rgba(255,255,255,0.8);
    border-radius: .25rem;

}

.top-div{
    margin-top: 30px;
}

.about-center{
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}

/*REGISTER FORM css*/

*{
    margin: 0;
    padding: 0;
    outline: none;
}
.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../img/clinic-home-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-container{
    width: 380px;
    height: 700px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}
.register-container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.form-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #04AA6D, #4158d0);
}
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}
.tab {
    display: none;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active {
    opacity: 1;
}
.step.finish {
    background-color: #04AA6D;
}

/*Login form css*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.login-form{
    display: flex;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../img/clinic-home-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
::selection{
    background: #4158d0;
    color: #fff;
}
.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-top: 40px;
}
.wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: #007bff;
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.wrapper form .field input, .wrapper form .field button{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
    border-color: #4158d0;
}
.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

form .field button{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}
form .field button:active{
    transform: scale(0.95);
}
form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
}
form .pass-link a,
form .signup-link a{
    color: #4158d0;
    text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
    text-decoration: underline;
}
