<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
  <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container d-flex min-vh-100 text-center align-items-center home-container">
  <div class="row w-100">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="container align-items-center about-center">
      <div class="welcome-text font-weight-bold">
        <h1>Welkom bij DBNO</h1>
        <p>DBNO is een webapplicatie die dient om gemakkelijk afspraken in te plannen bij je gewenste arts en om dokters op te zoeken.</p>
        <p>Om een afspraak te boeken, moet je je registreren en naar de kalender van de gewenste dokter gaan.</p>
      </div>
      <div sec:authorize="!isAuthenticated()" class="welcome-text">
        <h4>Registreer nu!</h4>
          <a th:href="@{'/patient/register'}">
          <button type="button" class="btn btn-primary btn-lg btn-patient ">Patiënt</button>
        </a>
          <a th:href="@{'/doctor/register'}">
            <button type="button" class="btn btn-primary btn-lg btn-doctor ">Dokter</button>
          </a>
      </div>
      </div>
    </div>
  </div>
</div>


<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
