<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <title>Zoek een arts/specialist</title>
</head>

<body class="home-container">
<header th:replace="fragments/header.html :: header"></header>

<div class="container min-vh-100 top-div">
    <div class="row">
        <div class="col">
            <div class="card">
            <form class="form-inline my-2 my-lg-0" id="doctor-search">
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Familienaam"
                       aria-label="Search">
                <label for="spec">Kies een specialisatie: </label>
                <select class="ml-2" name="spec" id="spec" form="doctor-search">
                    <option value="">Geen</option>
                    <option th:each="s : ${T(be.multimedi.latte.dbno.model.Specialization).values()}"
                            th:value="${s}" th:text="${s.getValue()}">Specialisatie
                    </option>
                </select>
                <button class="btn btn-primary ml-2 my-2 my-sm-0" type="submit">Zoeken</button>
            </form>
            </div>
            <hr>

            <div th:if="${doctors.size()} > 0">
                <h1 class="welcome-text">Dokters</h1>
                <div class="row">
                    <div class="col-4" th:each="doctor, iterator: ${doctors}">
                        <div class="card mt-2"  style="width: 18rem;">
                            <img class="card-img-top" src="https://picsum.photos/286/180" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${doctor.user.firstName} + ' ' + ${doctor.user.lastName}"></h5>
                                <p class="card-text" th:text="${doctor.specialization.value}"></p>
                                <a th:href="@{'/patient/visit/' + ${doctor.id}}" class="btn btn-primary">Details</a>
                                <a th:href="@{/patient/calendar/{doctorId}(doctorId=${doctor.id})}" class="btn btn-primary">Kalender</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${doctors.size()} == 0">
                <h4 class="welcome-text">Geen dokters gevonden voor deze zoekopdracht</h4>
            </div>
        </div>
    </div>
</div>


<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>

