<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DBNO</title>
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container d-flex min-vh-100 text-center align-items-center home-container">
    <div class="row w-100">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li sec:authorize="!isAuthenticated()" class="list-group-item">
                            <a th:href="@{'/login'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mb-5">Inloggen</button>
                            </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="list-group-item">Registreren
                            <a th:href="@{'/patient/register'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mt-3">Patiënt</button>
                            </a>
                            <a th:href="@{'/doctor/register'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-doctor btn-block mt-2">Dokter</button>
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="list-group-item">
                            <a th:href="@{'/my-profile'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mt-2">Profiel</button>
                            </a>

                        </li>
                        <li sec:authorize="isAuthenticated()" class="list-group-item">
                            <a th:href="@{'/patient/search'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mb-5">Zoek dokters</button>
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_STAFF')" class="list-group-item">
                            <a th:href="@{'/doctor/mydetails'}" class="w-100">
                                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mb-5">Dokter informatie</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-8 d-flex justify-content-center align-items-center">
            <div class="welcome-text">
                <h1>Welkom bij DBNO</h1>
                <h3>"Je gezondheid is een investering, geen kost."</h3>
            </div>
        </div>
    </div>
</div>


<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
