<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DBNO - Login</title>
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<section class="login-form">
    <div class="wrapper">
        <div class="title">
            Inloggen
        </div>
        <form action="" th:action="@{/login}" method="post">
            <input type="hidden" id="id">
            <div class="field">
                <input type="text" name="username" id="loginmail" required>
                <label>E-mailadres</label>
            </div>
            <div class="field">
                <input type="password" name="password" id="password" required>
                <label>Paswoord</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3">Log in</button>
            </div>
            <div class="signup-link">
                <p>Heb je geen account?</p>
                <p>Schrijf je nu in als<a th:href="@{/doctor/register}"> dokter</a>
                    of als<a th:href="@{/patient/register}"> patiënt</a></p>
            </div>
        </form>
    </div>
</section>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
