<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Profielpagina</title>
  <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
  <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container min-vh-100 text-center d-flex align-items-center home-container">
  <div class="row w-100">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3>Profielpagina</h3>
          <ul class="list-group list-group-flush">
            <li sec:authorize="!hasRole('ROLE_STAFF')" class="list-group-item">
              <a th:href="@{'/patient/my-profile/edit'}" class="w-100">
                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mb-5">Profiel bewerken</button>
              </a>
            </li>
            <li sec:authorize="hasRole('ROLE_STAFF')" class="list-group-item">
              <a th:href="@{'/doctor/my-profile/edit'}" class="w-100">
                <button type="button" class="btn btn-primary btn-lg btn-patient btn-block mb-5">Profiel bewerken</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-8 justify-content-center ">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <th>Voornaam</th>
              <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
              <th>Familienaam</th>
              <td th:text="${user.lastName}"></td>
            </tr>
            <tr>
              <th>Geslacht</th>
              <td th:text="${user.gender.getDisplayValue()}"></td>
            </tr>
            <tr>
              <th>Land</th>
              <td th:text="${user.address.getCountry()}"></td>
            </tr>
            <tr>
              <th>Gemeente</th>
              <td th:text="${user.address.getCity()}+ ' ' +${user.address.getZipcode()}"></td>
            </tr>
            <tr>
              <th>Straat en nummer</th>
              <td th:text="${user.address.getStreet()} + ' ' +${user.address.getHouseNumber()}"></td>
            </tr>
            <tr>
              <th>Rijksregisternummer</th>
              <td th:text="${user.getNationalRegisterNumber()}"></td>
            </tr>
            <tr>
              <th>Telefoon</th>
              <td th:text="${user.getPhoneNumber()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
