<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Nieuwe praktijk</title>
  <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
  <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body class="office-form-body home-container">
<header th:replace="fragments/header.html :: header"></header>
<div class="container h-100vh office-form-container">
  <div class="row row h-100 align-items-center justify-content-center">
    <div class="col align-self-center">
      <div class="card office-form-card">
        <div th:text="(${office.id} == null ? 'Nieuwe praktijk' : 'Praktijk wijzigen')" class="card-header text-center display-4 office-form-card-header">
        </div>
        <div class="card-body">
          <form action="" th:action="@{/doctor/office/new}" th:object="${office}" method="post">
            <p th:if="${#fields.hasAnyErrors()}" class="input-error">Er is een fout opgetreden in de invoer.</p>
            <input  type="hidden" th:field="*{id}"/>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Praktijk naam</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Praktijk naam" required>
              </div>
            </div>
            <div class="form-row">
              <input  type="hidden" th:field="*{address.id}"/>
              <div class="form-group col-md-6">
                <label for="street">Straat</label>
                <input type="text" th:field="*{address.street}" class="form-control" id="street" placeholder="Straat">
              </div>
              <div class="form-group col-md-6">
                <label for="bouwNumber">Nummer</label>
                <input type="number" min="1" th:field="*{address.houseNumber}"  class="form-control" id="bouwNumber" placeholder="Huisnummer">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="postcode">Postcode</label>
                <input type="text" th:field="*{address.zipcode}"  class="form-control" id="postcode" placeholder="Postcode">
              </div>
              <div class="form-group col-md-4">
                <label for="city">Gemeente</label>
                <input type="text" th:field="*{address.city}"  class="form-control" id="city" placeholder="Gemeente">
              </div>
              <div class="form-group col-md-4">
                <label for="country">Land</label>
                <input type="text" th:field="*{address.country}"  class="form-control" id="country" placeholder="Land">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block office-form-button">Opslaan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
