<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <title>Registratiepagina Patiënt</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<section class="register-form">
    <div class="container register-container">
        <header class="bg bg-primary text-white rounded mb-5">Registreren</header>
        <form class="mt-5" id="regForm" action="" th:action="@{/patient/register}" th:object="${patient}" method="post">
            <input type="hidden" id="id">
            <div class="tab">
                <h5 class="mb-5">Persoonlijke gegevens (1)</h5>
                <p><input type="text" th:field="*{userDto.firstName}" class="form-control" name="firstname" id="firstname"
                          required placeholder="Voornaam" oninput="this.className = ''"></p>
                <p><input type="text" th:field="*{userDto.lastname}" class="form-control" name="lastname" id="lastname"
                          required placeholder="Familienaam" oninput="this.className = ''"></p>
                <p><select  th:field="*{userDto.gender}">
                    <option th:each="g : ${T(be.multimedi.latte.dbno.model.Gender).values()}" th:value="${g}" th:text="${g}" selected>Geslacht</option>-->
                </select></p>
            </div>
            <div class="tab">
                <h5 class="mb-5">Persoonlijke gegevens (2)</h5>
                <p><input type="date" th:field="*{userDto.dob}" class="form-control" name="dob" id="dob"
                          required placeholder="Geboortedatum" oninput="this.className = ''"></p>
                <p><input type="text" th:field="*{userDto.phoneNumber}" class="form-control" name="phone" id="phone"
                          required placeholder="Telefoonnummer" oninput="this.className = ''" ></p>
                <p><input type="text" th:field="*{userDto.nationalRegisterNumber}" class="form-control" name="insz" id="insz"
                          required placeholder="Rijksregisternummer" oninput="this.className = ''" ></p>
            </div>
            <div class="tab">
                <h5 class="mb-5">Contactgegevens</h5>
                <p><input type="text" th:field="*{userDto.address.street}" class="form-control" name="address" id="street"
                          required placeholder="Straat" oninput="this.className = ''"></p>
                <p><input type="number" min="1" th:field="*{userDto.address.houseNumber}" class="form-control" name="address" id="housenumber"
                          required placeholder="Nummer" oninput="this.className = ''"></p>
                <p><input type="text" th:field="*{userDto.address.zipcode}" class="form-control" name="address" id="zipcode"
                          required placeholder="Postcode" oninput="this.className = ''"></p>
                <p><input type="text" th:field="*{userDto.address.city}" class="form-control" name="address" id="city"
                          required placeholder="Gemeente" oninput="this.className = ''"></p>
                <p><input type="text" th:field="*{userDto.address.country}" class="form-control" name="address" id="country"
                          required placeholder="Land" oninput="this.className = ''"></p>
            </div>
            <div class="tab">
                <h5 class="mb-5">Inloggegevens</h5>
                <p><input type="email" th:field="*{userDto.email}" class="form-control" id="email"
                          required placeholder="E-mailadres" oninput="this.className = ''"></p>
                <p th:each="error : ${#fields.errors('userDto.email')}"
                   th:text="${error}">Validation error</p>
                <p><input type="password" th:field="*{userDto.password}" class="form-control" id="password"
                          required placeholder="Paswoord" oninput="this.className = ''"></p>
                <p><input type="password" class="form-control"  id="confirmPassword"
                          placeholder="Bevestig je paswoord" oninput="this.className = ''"></p>
            </div>
            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" class="btn btn-primary mr-1" id="prevBtn" onclick="nextPrev(-1)">Vorige</button>
                    <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Volgende</button>
                </div>
            </div>
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            <div>
                <p class="text-center mb-3">Ik heb al een account <a th:href="@{/login}">Log in</a></p>
            </div>
        </form>
    </div>
</section>
<th:block th:include="fragments/cdn.html :: script-cdn-register"></th:block>
</body>
</html>
