<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dokter details</title>
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>
<body class="home-container">
<header th:replace="fragments/header.html :: header"></header>
<div class="container min-vh-100 top-div">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 th:text="${'Dr. ' + doctor.user.firstName + ' ' + doctor.user.lastName}" class="welcome-text"></h1>
                    <th:block th:switch="${doctor.user.gender}">
                        <img th:case="${doctor.user.gender.FEMALE}" class="d-inline" alt=""
                             src="https://cdn4.vectorstock.com/i/1000x1000/83/08/female-doctor-avatar-character-vector-14878308.jpg"
                             width="300" height="300">
                        <img th:case="${doctor.user.gender.MALE}" class="d-inline" alt=""
                             src="https://image.freepik.com/free-vector/doctor-icon-avatar-white_136162-58.jpg"
                             width="300" height="300">
                        <img th:case="${doctor.user.gender.OTHER}" class="d-inline" alt=""
                             src="https://www.majcohealth.com/public/frontend/images/doctor.jpg" width="300"
                             height="300"></th:block>
                </div>
                <div class="col-6">
                    <div class="card">
                        <table class="table mt-3">
                            <tbody>
                            <tr>
                                <td class="font-weight-bold">Voornaam</td>
                                <td th:text="${doctor.user.firstName}"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Achternaam</td>
                                <td th:text="${doctor.user.lastName}"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Specialisatie</td>
                                <td th:text="${doctor.specialization.value}"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Adres</td>
                                <td th:text="${doctor.user.address.street} + ' ' + ${doctor.user.address.houseNumber}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td th:text="${doctor.user.address.zipcode} + ' ' + ${doctor.user.address.city} + ' (' + ${doctor.user.address.country}+')'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <h2 class="welcome-text">Praktijken</h2>
                <div class="row">
                    <div class="col-xl-3" th:each="office : ${doctor.offices} ">
                        <div class="card" style="width: 15rem;">
                            <div class="card-body">
                                <p class="card-title" th:text="${office.name}"></p>
                                <p class="card-text"
                                   th:text="${office.address.street} + ' ' + ${office.address.houseNumber}"></p>
                                <p class="card-text"
                                   th:text="${office.address.zipcode} + ' ' + ${office.address.city}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <td><a th:href="@{'/doctor/office/new'}" sec:authorize="hasRole('ROLE_STAFF')">
                            <button th:if="${#authentication.name == doctor.user.email}"
                                    class="btn btn-warning ml-5 my-2 my-sm-0" type="button">Voeg praktijk toe
                            </button>
                        </a></td>
                    </div>
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_STAFF')">
                        <td><a th:href="@{'/doctor/'+${doctor.id}+'/calendar'}">
                            <button th:if="${#authentication.name == doctor.user.email}"
                                    class="btn btn-warning ml-5 my-2 my-sm-0" type="button">Ga naar kalender
                            </button>
                        </a></td>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
